deb http://archive.ubuntu.com/ubuntu/ focal main universe multiverse restricted
deb-src http://archive.ubuntu.com/ubuntu/ focal main universe multiverse restricted

deb http://archive.ubuntu.com/ubuntu/ focal-updates main universe multiverse restricted
deb-src http://archive.ubuntu.com/ubuntu/ focal-updates main universe multiverse restricted

deb http://archive.ubuntu.com/ubuntu/ focal-backports main universe multiverse restricted
deb-src http://archive.ubuntu.com/ubuntu/ focal-backports main universe multiverse restricted

deb http://security.ubuntu.com/ubuntu/ focal-security main universe multiverse restricted
deb-src http://security.ubuntu.com/ubuntu/ focal-security main universe multiverse restricted

deb http://archive.canonical.com/ubuntu/ focal partner
deb-src http://archive.canonical.com/ubuntu/ focal partner
